<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wrs_cell" >

    <xacro:property name="arm_1_prefix" value="packing_arm_"/>
    <xacro:property name="arm_2_prefix" value="cb_"/>


    <!-- common stuff -->
    <xacro:include filename="$(find robot_description)/urdf/common.gazebo.xacro" />
    <!-- ur5 -->
    <xacro:include filename="$(find robot_description)/urdf/ur5.urdf.xacro" />
    <!-- gripper -->
    <xacro:include filename="$(find robot_description)/urdf/robotiq/robotiq_85_gripper.urdf.xacro" />
    <!-- cardboard gripper -->
    <xacro:include filename="$(find cardboard_gripper_description)/gripper/gripper.urdf.xacro" />

    <!-- World link -->
    <link name="world" />

    <link name="arm_mount_link" >
        <visual>
            <geometry>
                <mesh filename="package://wrs_cell_description/meshes/arms_mount.stl" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://wrs_cell_description/meshes/arms_mount.stl" />
            </geometry>
        </collision>
    </link>

    <joint name="arm_mount_joint" type="fixed">
        <parent link="world" />
        <child link="arm_mount_link" />
        <origin xyz="0.0 0.0 -0.04" rpy="0.0 0.0 ${pi/2}" />
    </joint>

    <!-- arm 1 -->
    <xacro:ur5_robot prefix="${arm_1_prefix}" joint_limited="false"/>

    <joint name="world_${arm_1_prefix}joint" type="fixed">
        <parent link="world" />
        <child link = "${arm_1_prefix}base_link" />
        <origin xyz="0.0 0.3 0.65866" rpy="${pi} 0.0 0.0" />
    </joint>

    <!-- Robotiq Coupler -->
    <link name="${arm_1_prefix}robotiq_coupler">
    <visual>
        <geometry>
        <mesh filename="package://robot_description/meshes/coupler.stl" />
        </geometry>
    </visual>
    <collision>
        <geometry>
        <mesh filename="package://robot_description/meshes/coupler.stl" />
        </geometry>
    </collision>
    <inertial>
        <origin xyz="2.073e-05   1.45286e-03  -1.1049e-03" rpy="0 0 0" />
        <mass value="0.168" />
        <inertia ixx="6.69695624e-05" ixy="5.21511788e-09" ixz="-2.74383009e-08" 
                iyy="7.85088161e-05" iyz="5.41105193e-07" izz="1.41819717e-04"/>
    </inertial>
    </link>

    <joint name="${arm_1_prefix}robotiq_coupler_joint" type="fixed">
        <origin xyz="0 0 0.0" rpy="0 0 ${-pi/2.0}" />
        <parent link="${arm_1_prefix}tool0"/>
        <child link="${arm_1_prefix}robotiq_coupler"/>
    </joint>
    <gazebo reference="${arm_1_prefix}robotiq_coupler">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    </gazebo>

    <!-- Attach the robotiq 85 gripper -->
    <xacro:robotiq_85_gripper prefix="${arm_1_prefix}" parent="${arm_1_prefix}robotiq_coupler" >
        <origin xyz="0 0 0.005" rpy="0 ${-pi/2} ${pi/2}"/>
    </xacro:robotiq_85_gripper>


    <!-- CardBoard Packing Arm -->
    <!-- arm 2 -->
    <xacro:ur5_robot prefix="${arm_2_prefix}" joint_limited="false"/>

    <!-- Add the gripper -->
    <xacro:cardboard_gripper parent="${arm_2_prefix}ee_link" />

    <joint name="world_${arm_2_prefix}joint" type="fixed">
        <parent link="world" />
        <child link = "${arm_2_prefix}base_link" />
        <origin xyz="0.0 -0.3 0.65866" rpy="${pi} 0.0 ${pi}" />
    </joint>


    <!-- Add a table as a ground -->
    <link name="table">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 2.0 0.05"/>
            </geometry>
            <material name="table_material">
                <color rgba="0.8 0.8 0.8 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 2.0 0.05"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="50"/>
            <inertia ixx="4.166666666666667" ixy="0" ixz="0" iyy="4.166666666666667" iyz="0" izz="8.333333333333334"/>
        </inertial>
    </link>

    <joint name="table_joint" type="fixed">
        <parent link="world"/>
        <child link="table"/>
        <origin xyz="0 0 -0.1" rpy="0 0 0"/>
    </joint>

    <gazebo reference="table">
        <material>Gazebo/Grey</material>
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
    </gazebo>

    <ros2_control name="RobotSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <!-- Joints for packing_arm_ -->
        <joint name="packing_arm_shoulder_pan_joint">
            <command_interface name="position">
                <param name="min">-6.28318530718</param>
                <param name="max">6.28318530718</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="packing_arm_shoulder_lift_joint">
            <command_interface name="position">
                <param name="min">-6.28318530718</param>
                <param name="max">6.28318530718</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="packing_arm_elbow_joint">
            <command_interface name="position">
                <param name="min">-3.14159265359</param>
                <param name="max">3.14159265359</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="packing_arm_wrist_1_joint">
            <command_interface name="position">
                <param name="min">-6.28318530718</param>
                <param name="max">6.28318530718</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="packing_arm_wrist_2_joint">
            <command_interface name="position">
                <param name="min">-6.28318530718</param>
                <param name="max">6.28318530718</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="packing_arm_wrist_3_joint">
            <command_interface name="position">
                <param name="min">-6.28318530718</param>
                <param name="max">6.28318530718</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <!-- Robotiq Gripper Joint for packing_arm_ -->
        <joint name="packing_arm_robotiq_85_left_knuckle_joint">
            <command_interface name="position">
                <param name="min">0.0</param>
                <param name="max">0.80285</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- Joints for cb_ (Cardboard Arm) -->
        <joint name="cb_shoulder_pan_joint">
            <command_interface name="position">
                <param name="min">-6.28318530718</param>
                <param name="max">6.28318530718</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="cb_shoulder_lift_joint">
            <command_interface name="position">
                <param name="min">-6.28318530718</param>
                <param name="max">6.28318530718</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="cb_elbow_joint">
            <command_interface name="position">
                <param name="min">-3.14159265359</param>
                <param name="max">3.14159265359</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="cb_wrist_1_joint">
            <command_interface name="position">
                <param name="min">-6.28318530718</param>
                <param name="max">6.28318530718</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="cb_wrist_2_joint">
            <command_interface name="position">
                <param name="min">-6.28318530718</param>
                <param name="max">6.28318530718</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="cb_wrist_3_joint">
            <command_interface name="position">
                <param name="min">-6.28318530718</param>
                <param name="max">6.28318530718</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <!-- Cardboard Gripper Joint for cb_ -->
        <joint name="cb_gripper_base_to_finger">
            <command_interface name="position">
                <param name="min">0.0</param>
                <param name="max">1.5708</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </ros2_control>
</robot>
