<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wrs_cell" >

    <xacro:property name="arm_1_prefix" value="packing_arm_"/>
    <xacro:property name="arm_2_prefix" value="cb_"/>


    <!-- common stuff -->
    <xacro:include filename="$(find robot_description)/urdf/common.gazebo.xacro" />
    <!-- ur5 -->
    <xacro:include filename="$(find robot_description)/urdf/ur5.urdf.xacro" />

    <link name="arm_mount_link" >
        <visual>
            <geometry>
                <mesh filename="package://wrs_cell_description/meshes/arms_mount.stl" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://wrs_cell_description/meshes/arms_mount.stl" />
            </geometry>
        </collision>
    </link>

    <joint name="arm_mount_joint" type="fixed">
        <parent link="world" />
        <child link="arm_mount_link" />
        <origin xyz="0.0 0.0 -0.04" rpy="0.0 0.0 ${pi/2}" />
    </joint>

    <!-- arm 1 -->
    <xacro:ur5_robot prefix="${arm_1_prefix}" joint_limited="false"/>

    <link name="world" />

    <joint name="world_${arm_1_prefix}joint" type="fixed">
        <parent link="world" />
        <child link = "${arm_1_prefix}base_link" />
        <!-- <origin xyz="0.0 0.23134 0.65866" rpy="${-3*pi/4} 0.0 0.0" /> -->
        <origin xyz="0.0 0.3 0.65866" rpy="${-3*pi} 0.0 0.0" />
    </joint>

    <xacro:include filename="$(find robot_description)/urdf/robotiq/robotiq_85_gripper.urdf.xacro" />

    <!-- Robotiq Coupler -->
    <!--  + Height added by the coupler: 8mm -->
    <!--  + Reference frame: at the middle (4mm) -->
    <link name="robotiq_coupler">
    <visual>
        <geometry>
        <mesh filename="package://robot_description/meshes/coupler.stl" />
        </geometry>
    </visual>
    <collision>
        <geometry>
        <mesh filename="package://robot_description/meshes/coupler.stl" />
        </geometry>
    </collision>
    <inertial>
        <origin xyz="2.073e-05   1.45286e-03  -1.1049e-03" rpy="0 0 0" />
        <mass value="0.168" />
        <inertia ixx="6.69695624e-05" ixy="5.21511788e-09" ixz="-2.74383009e-08" 
                iyy="7.85088161e-05" iyz="5.41105193e-07" izz="1.41819717e-04"/>
    </inertial>
    </link>

    <joint name="${arm_1_prefix}robotiq_coupler_joint" type="fixed">
        <origin xyz="0 0 0.0" rpy="0 0 ${-pi/2.0}" />
        <parent link="${arm_1_prefix}tool0"/>
        <child link="robotiq_coupler"/>
    </joint>
    <gazebo reference="robotiq_coupler">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    </gazebo>

    <!-- Attach the robotiq 85 gripper -->
    <xacro:robotiq_85_gripper prefix="" parent="robotiq_coupler" >
    <origin xyz="0 0 0.005" rpy="0 ${-pi/2} ${pi/2}"/>
    </xacro:robotiq_85_gripper>


    <!-- CardBoard Packing Arm -->
    <!-- arm 2 -->
    <xacro:ur5_robot prefix="${arm_2_prefix}" joint_limited="false"/>

    <!-- Add the gripper -->
    <xacro:include filename="$(find cardboard_gripper_description)/gripper/gripper.urdf.xacro" />
    <xacro:cardboard_gripper parent="${arm_2_prefix}ee_link" />

    <joint name="world_${arm_2_prefix}joint" type="fixed">
        <parent link="world" />
        <child link = "${arm_2_prefix}base_link" />
        <!--origin xyz="0.0 -0.23134 0.65866" rpy="${3*pi/4} 0.0 0.0" /--> <!-- for the 45-degree config -->
        <origin xyz="0.0 -0.3 0.65866" rpy="${pi} 0.0 ${pi}" />
    </joint>


    <!-- Add a table as a ground -->
    <!-- Table -->
    <link name="table">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 2.0 0.05"/>
            </geometry>
            <material name="table_material">
                <color rgba="0.8 0.8 0.8 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 2.0 0.05"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="50"/>
            <inertia ixx="4.166666666666667" ixy="0" ixz="0" iyy="4.166666666666667" iyz="0" izz="8.333333333333334"/>
        </inertial>
    </link>

    <joint name="table_joint" type="fixed">
        <parent link="world"/>
        <child link="table"/>
        <origin xyz="0 0 -0.1" rpy="0 0 0"/>
    </joint>

    <gazebo reference="table">
        <material>Gazebo/Grey</material>
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
    </gazebo>

</robot>
